<h1><%= @cocktail.name %></h1>

<p>cocktail ingredients:</p>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to '(delete)', dose_path(dose),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'add a new ingredient', new_cocktail_dose_path(@cocktail) %>

<br>
<br>

<%= link_to 'back to cocktails menu', cocktails_path  %>
